{% extends 'base.html' %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <h2 class="my-4">Flask CRUD</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br><br>
  <div class="container">
  
  {% include 'snippets/form.html' %}
  <hr>

  {% if groceries|length < 1 %}
  <p>There is nothing to buy for now.</p>
  {% else %}
  <table class="table table-hover table-light table-striped">
    <thead>
      <tr>
        <th>Groceries</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for grocery in groceries %}
      <tr>
        <td><a href="/update/{{ grocery.id }}">{{ grocery.name }}</a></td>
        <td>{{ grocery.created_at.date() }}</td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ grocery.id }}" role="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  {% endif %}


</div>
{% endblock content %}